.gooey {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -71px;
  height: 40px;
  background: $brand-color;
  filter: contrast(20);
}

.dot {
  position: absolute;
  left: 15px;
  top: 12px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: #000;
  filter: blur(4px);
  transform: translateX(0);
  animation: dot 2.8s infinite;
}

.dots {
  margin-top: 12px;
  margin-left: 31px;
  transform: translateX(0);
  animation: dots 2.8s infinite;

  span {
    display: block;
    float: left;
    margin-left: 16px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background: #000;
    filter: blur(4px);
  }
}

@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}

@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
