*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@import "../../node_modules/normalize.css";
@import "header";
@import "sidebar";
@import "scrollToTop";
@import "listItem";
@import "todoForm";

.editor{
  padding: 100px;
  margin: 0 200px 0 250px;
}


.done  {
  text-decoration: line-through;
}

.important {
  font-weight: 700;
  color: brown;
}
.list__item>span{
  cursor:pointer;
}

.container{
  width: 95vw;
  margin: 0 auto;
}


