.list__items{
  margin-top: 100px;
  padding: 0;
}

.list__item{
  border-bottom: 1px solid #e5dede ;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px 0;
  transition: .3s;
  align-items: center;
  position: relative;

  &:hover{
  border-bottom: 1px solid #969090;
  }
}



.list__item_text{
  overflow: hidden;
  text-decoration: none;
  color: #000000;
  max-width: 600px;
  font-size: 18px;
}


.btn__control{
  background: inherit;
  border: none;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;

}

.btn__control-important{
  margin-right: 10px;
}

.control-image{
  width: 20px;
  height: 20px;
}


