.scroll__top{
  border-left: 1px solid #969090;
  cursor: pointer;
  background: #fcfafa;
  position: fixed;
  width: 200px;
  height: 100vh;
  right: 0;
  top:70px;
  transition: .3s;
  opacity: .3;

  &:hover{
    opacity: .6;
  }
}

.scroll__top-image{
  height: 30px;
  width: 30px;
  position: absolute;
  left: 50%;
  bottom: 100px;
}