
.todo__form{
  display: flex;
  justify-content: space-between;
}

.todo__form-input{
  padding: 10px;
  outline: none;
  width: 80%;
  border: none;
  border-bottom: 1px solid #969090;
  opacity: .5;
  transition: .3s;
  &:focus{
    opacity: 1;
  }

  &:hover{
    opacity: 1;
  }
}



.add__todo-btn{
  text-decoration:none;
  text-align:center;
  padding:11px 32px;
  border:solid 1px #000000;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  background:#ffffff;
  opacity:0.6;
  cursor: pointer;
  transition: .3s;
  &:hover{
    opacity: 1;
  }
}