
$text-font-stack: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$text-color: rgb(34, 34, 34) !default;
$brand-color: rgb(255, 255, 255) !default;
$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: rgb(68, 68, 68) !default;
$max-width: 1900px !default;